body {
  //color: red;
}
.fixed-top {
  margin: 0;
  padding: 5px;
}

.view-container {
  margin: 0;
  padding: 0;
}
#app-view-container {
  margin: 0;
  padding: 0;
}
.card {
  border: 0;
  padding: 0;
}
.app-container .view-container .card {
  padding: 0;
}
.chat-users-list ul {
  display: inline-flex;
  list-style: none;
  height: 50px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  overflow-x: scroll;
}

.chat-users-list ul li {
  color: #7ec699;
  margin-left: 15px;
}

.chat-users-list img {
  height: 50px;
}
.chat-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.chat-sidebar {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  white-space: nowrap;
  text-align: center;
}
.chat-contact-profile {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px 0 5px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.chat-contact-profile:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.chat-contact-other {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  border-color: black;
}

.current-chatter-name {
  text-align: center;
  padding: 10px;
}

.Chats {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 600px; // todo change
}

.Chat {
  margin: 1rem 0;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  max-width: 90%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  margin-left: 10px;
  border-radius: 30px;
  height: max-content;
  margin: auto;
}

.Chat.is-user-msg {
  margin-left: auto;
  background: #149180;
  border-radius: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  margin-right: 10px;
  float: right;
}

.Message {
  width: 100%;
  margin: 1rem auto;
  margin-bottom: 0;
}
.Message__input {
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
  position: absolute;
  bottom: 0;
}
@media (min-width: 576px) {
  .Chat {
    max-width: 60%;
  }
}
@media (max-width: 500px) {
}

.empty-header {
  font-size: 1.3em;
}

.empty-conversation {
  text-align: center;
}

.empty-conversation .chat-contact-profile {
  width: 80px;
  height: 80px;
}

.stop-conversation {
  width: 25%;
  padding: 2px;
  background: rgba(134, 9, 9, 0.8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
  float: right;
}

.current-message-header {
  display: flex;
  background: rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 15px;
  color: white !important;
}

.current-speaker-interests {
  color: black;
}

.current-speaker-info {
  color: white;
}

.view-routes > div {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.messages-sent {
  width: 100%;
}

.message-list {
  width: 100%;
}
